@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: dosis;
  src: url("/fonts/Dosis/Dosis-VariableFont_wght.ttf");
}

@layer components {
  .border-b {
    @apply border border-black;
  }

  .gradient-bg {
    background-image: linear-gradient(
      to right top,
      #0a1f1a,
      #011e20,
      #001c25,
      #011a29,
      #0e1629,
      #10192e,
      #131d33,
      #152038,
      #012d43,
      #003948,
      #004547
    );
  }
  .font-dosis {
    font-family: dosis;
  }
}
